<footer class="page-footer bright text-primary">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <h4 class="slab-font text-secondary">Nexus</h4>
        <p class="">Design & Website by Mohamed Abo El Soud.
        Powered by Ruby on Rails and a little bit of magic.</p>
      </div>
      <div class="nav col s12 m6 l4 offset-l2">
        <ul>
          <li><a class="col s3 l12" href="/about">About</a></li>
          <li><a class="col s3 l12" href="/contact">Contact</a></li>
          <li><a class="col s3 l12" href="#">News</a></li>
          <li><a class="col s3 l12" href="/help">Help</a></li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright grey lighten-2 text-secondary">
    <div class="container">
      © 2014 Copyright Mohamed Abo El Soud
    </div>
  </div>
</footer>