// body {
//   padding: 50px;
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
//   a {
//       color: #00B7FF;
//     }
  
// }

@import "../../node_modules/materialize-sass-updated/sass/components/color.scss";
// @import "../../node_modules/materialize-sass-updated/sass/components/variables.scss";
$primary-color: color("deep-purple", "darken-1");
$primary-color-light: color("deep-purple", "lighten-5");
$primary-color-dark: color("deep-purple", "darken-4");
// $secondary-color: color("deep-purple", "accent-3");
$secondary-color: color("amber", "accent-4");
// $footer-bg-color: $primary-color-light;
// $link-color: color("indigo", "accent-4");
$primary-text-color: rgba(color("shades", "black"), 0.87);
$secondary-text-color: rgba(color("shades", "black"), 0.54);
$primary-text-color-light: color("shades", "white");
$secondary-text-color-light: rgba(color("shades", "white"), 0.7);
$navbar-font-color: $primary-text-color-light;
$button-color-raised: rgba(0, 0, 0, 0.87);//$primary-color-light;
// $collection-bg-color:
// used in the account window on the navbar
$options-window-width: 248px;
@import "../../node_modules/materialize-sass-updated/sass/materialize";
@import url(https://fonts.googleapis.com/css?family=Antic+Slab);
@import "global";
@import "static_pages";