<div id="about" class="row valign-wrapper">

  <div class="col s12 l12 center-align valign">

    <h1 class="deep-purple-text text-accent-1 slab-font">About Nexus</h1>
    <p class="lead">This website is a web applications that allows you to create your 
    and share emails with your co-workers and friends. The complete design 
    and development of nexus was done by Mohamed Abo El Soud.</p>

  </div>

</div>
<%- contentFor('title') %>
About