<%# provide(:title, "Contact") %>

<div id="contact" class="row valign-wrapper">

  <div class="col s12 l12 center-align valign">

    <h1 class="deep-purple-text text-accent-1 slab-font">Contact</h1>
    <p class="lead">
      Contact the Ruby on Rails Tutorial about the sample app at the
      <a href="http://www.railstutorial.org/#contact">contact page</a>.
    </p>
  </div>

</div>
<%- contentFor('title') %>
Contact