<!-- log-in -->

<div id="log-in" class="modal front" >
  <form class="col s12" id="log-in-form" action="/login" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="B1GN/RK7XNfR5L3azfA4kk3ZfThOXFc89ziNEMR4OwX8TxTuZ69pKRkeBokl0t1VtGGtCdU3GxhlGLhtfXtgVw==">
    <div class="modal-content">
      <h4>Log In</h4>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">person</i>
          <label class="" for="session_email">Email</label>
          <input class="validate" type="email" name="session[email]" id="session_email">
        </div>
        <div class="input-field col s12 m6">
          <i class="material-icons prefix">vpn_key</i>
          <label class="" for="session_password">Password</label>
          <input class="validate" type="password" name="session[password]" id="session_password">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input name="session[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="session[remember_me]" id="session_remember_me">
          <label for="session_remember_me">Remember me on this computer</label>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a onclick="$(this).closest('form#log-in-form.col.s12').submit()" id="save-button" class="modal-action modal-close waves-effect waves-green btn-flat " href="#">Log in</a>
      <a href="#!" id="cancel-button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a class="btn-flat " href="/password_resets/new">Forgot password</a>
    </div>
</form></div>
<!-- log-in end -->