<!-- sign-up -->
<div id="sign-up" class="modal front">
  <%# console.log(this.accounts) %>
  <%# throw new Error() %>
  <%- include("form", {subject: account, id: "sign-up-form", title: "Sign up", link: "Sign up", unchanged: null}) -%>
</div>
<!-- sign-up end -->
