<!-- if not logged in -->
<nav class=" transparent z-depth-0">
    <div class="container nav-wrapper">
    <a href="/" id="logo" class="brand-logo text- slab-font"><%= title %></a>
    
    <%# console.log(title); %>
    
      <ul id="nav-mobile" class="right hide-on-small-only">
        <li>
          <button data-target="log-in" class="btn modal-trigger waves-effect waves-dark ">
            Log In</button>
        </li>
      </ul>
  </div>
 </nav>